*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*======NAVIGATION BAR=========*/
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, purple , rgb(233, 141, 4));
}

.image-icon{
  width: 5rem;
  margin-right: 2rem;
}

.header h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: bolder;
}

/*==========MEME BODY==============*/

.btn-container{
  display: flex;
  justify-content: space-evenly;
}

.btn-container button{
  width: 40%;
}

.meme-container{
  box-shadow: 1px 6px 5px 8px grey;
  text-align: center;
  height: auto;
  width: 70%;
  margin: 0 auto;
}

.memeimage{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.meme-image-container{
  position: relative;
}
.top-text{
  position: absolute;
  top: 2rem;
  left: 42%;
  color: rgb(248, 150, 4);
  font-weight: bolder;
}

.bottom-text{
  position: absolute;
  bottom: 2rem;
  left: 42%;
  color: rgb(248, 150, 4);
  font-weight: bolder;
}


/* =============== MEDIA QUERIES ===============*/

@media only screen and (max-width: 600px){
  .top-text{
    top: 2rem;
    left: 37%;
  }
  
  .bottom-text{
    bottom: 2rem;
    left: 37%;
  }
}

@media only screen and (max-width: 768px ) and (min-width: 610px) {
  .top-text{
    top: 2rem;
    left: 30%;
  }
  
  .bottom-text{
    bottom: 2rem;
    left: 30%;
  }
}